<%- include('layout', { title: 'Edit Menu Item' , content: '' }) %>

    <form action="/vege/<%= vege._id %>/edit?_method=PATCH" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= vege.name %>" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= vege.description %></textarea>

        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" value="<%= vege.price %>" required>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" value="<%= vege.image %>" required>

        <button type="submit">Update</button>
    </form>

    <a href="/vege" class="btn-back">Back to Main List</a>