<!-- src/views/list.ejs -->
<%- include('layout', { title: 'Vegetable List' , content:' '}) %>
    <div class="card-container">
        <% mixed.forEach(function(veg) { %>
            <div class="card">
                <a href="/mixed/<%= veg._id %>">
                    <img src="<%= veg.image %>" alt="<%= veg.name %>" class="card-img">
                    <div class="card-content">
                        <h2 class="card-title">
                            <%= veg.name %>
                        </h2>
                        <p class="card-price">$<%= veg.price %>
                        </p>
                    </div>
                </a>
                <div class="card-actions">
                    <a href="/mixed/<%= veg._id %>/edit" class="btn-edit">Edit</a>
                    <form action="/mixed/<%= veg._id %>?_method=DELETE" method="POST" class="inline-form">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </div>
            </div>
            <% }); %>
    </div>
    <!-- <a href="/mixed/add" class="btn-add-new">Add New Vegetable</a> -->
    